<html>
  <head>
    <title>Api</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <p>时长接口:<a href="/start?h=6">start?h=*</a></p>
    <p>解析接口_1:<a href="/Analy_x?action=1&url=http://www.xs.la/34_34495/">/Analy_x?action=1&url=*</a></p>
    <p>解析接口_2:<a href="/Analy_x?action=2&url=http://www.xs.la/34_34495/2266828.html">/Analy_x?action=2&url=*</a></p>
    <p>排行接口:<a href="/rnklist?p=1">/rnklist?p=*</a></p>
    <p>搜索接口:<a href="/sear?&aut=&pid=&name=我欲">/sear?name=*</a></p>
  </body>
</html>