<!DOCTYPE HTML>
<html>
<<<<<<< HEAD

<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Welcome</h1>
  <p>当前对接的网站有：</p>
  <ul>
    <li>qu.la</li>
    <li>kansz</li>
    <li>dingd</li>
    <li>xs.la</li>
    <li>23us</li>
    <li>luoqiu</li>
    <li>biqiuge</li>
  </ul>
  <p>Last Update Time:<font color="red">Thu Oct 26 2017 17:32:29 GMT+0800 (CST)</font>
  </p>
  <p>Current Time：  
    <%= currentTime %>
  </p>
</body>

</html>
=======
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>LeanEngine</h1>
    <p>这是 LeanEngine 的示例应用</p>
    <p>当前时间：<%= currentTime %></p>
    <p><a href="/Analy_x?action=2&url=http://www.23us.com/html/10/10959/3930962.html">Test连接</a></p>
  </body>
</html>
>>>>>>> b6b709f8a6557ae2c4135b654efefc9b8d34ece8
