<!DOCTYPE HTML>
<html>

<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Welcome</h1>
  <p>当前对接的网站有：</p>
  <ul>
    <li>qu.la</li>
    <li>kansz</li>
    <li>dingd</li>
    <li>xs.la</li>
    <li>23us</li>
    <li>luoqiu</li>
    <li>biqiuge</li>
  </ul>
  <p>Last Update Time:<font color="red">Thu Oct 26 2017 17:32:29 GMT+0800 (CST)</font>
  </p>
  <p>Current Time：  
    <%= currentTime %>
  </p>
</body>

</html>